@model IEnumerable<CodeTrip.Models.Pedido>

<header>
    <div class="menu">
        <link href="~/css/crud_lista.css" rel="stylesheet" />
        <script src="~/js/site.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <img src="~/src/imagens/logo_nome.jpg" alt="Logo Codetrip" class="logo" />
        <h1>Pedido</h1>
    </div>
    <div class="menu">
        <a asp-controller="Pedido" asp-action="CadastrarPedido" class="btn btn-outline-primary">Cadastrar Pedido</a>
        <a asp-area="" asp-controller="Home" asp-action="MenuSistema" class="btn btn-outline-dark">Voltar ao Menu Principal</a>
    </div>
</header>

<html>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Usuário</th>
                <th>Cliente</th>
                <th>Origem</th>
                <th>Destino</th>
                <th>Data Início</th>
                <th>Data Fim</th>
                <th>Transporte</th>
                <th>Endereço Transporte</th>
                <th>Hospedagem</th>
                <th>Pagamento</th>
                <th>Passeio</th>
                <th>Ativo</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nome_Usuario</td>
                    <td>@($"{item.CPF_Cli} - {item.Nome_Cliente}")</td>
                    <td>@($"{item.Id_Origem} - {item.Desc_Origem}")</td>
                    <td>@($"{item.Id_Destino} - {item.Desc_Destino}")</td>
                    <td>@item.Data_Inicio.ToString("dd/MM/yyyy")</td>
                    <td>@item.Data_Fim.ToString("dd/MM/yyyy")</td>
                    <td>@($"{item.Id_Transp} - {item.Desc_Transp}")</td>
                    <td>@($"{item.Id_End_Transporte} - {item.Desc_End_Transporte}")</td>
                    <td>@($"{item.Id_Hospedagem} - {item.Desc_Hospedagem}")</td>
                    <td>@($"{item.Id_Pagamento} - {item.Desc_Pagamento}")</td>
                    <td>@($"{item.Id_Passeio} - {item.Desc_Passeio}")</td>
                    <td>@(item.Ativo ? "Sim" : "Não")</td>
                    <td class="actions">
                        @Html.ActionLink("Editar", "EditarPedido", new { id = item.Id_Pedido }, new { @class = "btn btn-sm btn-info" })
                        |
                        <button href="#" class="btn btn-sm btn-danger" onclick="confirmarExclusaoPedido(@item.Id_Pedido)">Excluir</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
